<div class="models">
<button class="btn-signup" (click)="openComponent()" style="width: 10% ;float: left;">Create User</button>
<div>
<div class="input" >
  <form #searchbtn="ngForm">
  <input type="text" name="search" placeholder="Search Employee"  [(ngModel)]="id"> 
  <button class="searcj-btn" (click)="onClickSearch()" [disabled]="searchbtn.invalid" >SUBMIT</button>
</form>
</div>
<table class="table table-hover " id="table">
  <tr class="tr">
  <td class="td">id</td>
  <td class="td">Employee Name</td>
  <td class="td">Employee salary</td>
  <td class="td">Employee age</td>
  <td class="td">Profile Image</td>
</tr>
  <tr *ngFor="let com of lstcomments">
    <td class="td"><p>{{com.id}}</p></td>
    <td class="td"><p>{{com.employee_name}}</p></td>
    <td class="td"><p>{{com.employee_salary}}</p></td>
    <td class="td"><p>{{com.employee_age}}</p></td>
    <td class="td"><p>{{com.profile_image}}</p></td>
    <td><button class="Edit" (click)="openEditComponent(com)">Edit</button></td>
    <td><button class="delete">Delete</button></td> 
  </tr>
</table>
</div>
</div>
<app-signup *ngIf="isOpenSignUp" [commentData]="editData"></app-signup>